# Node.js dependencies
/backend/node_modules/

# Environment variables
/backend/.env

# Logs
*.log

# System files
.DS_Store

# VS Code settings folder
.vscode/

# VS Code workspace file (optional, if you're using one)
*.code-workspace
